services:
  # PHP 웹 서버 1 (기존)
  dev-php:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: board_php
    container_name: board_container
    environment:
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - '48090:80'
    volumes:
      - './src:/var/www/html'
      - './../uploadfolder:/var/www/html/data'
      - "./conf/php_ext.ini:/usr/local/etc/php/conf.d/php_ext.ini"
      - "./conf/apache_ext.conf:/etc/apache2/conf-enabled/apache_ext.conf"
    depends_on:
      - db  # DB가 먼저 실행된 후 PHP가 실행되도록 설정

  # PHP 웹 서버 2 (API용 - 기존)
  dev2-php:
    build:
      context: .
      dockerfile: ./Dockerfile
    image: board_php
    container_name: board_api_container
    environment:
      XDEBUG_CONFIG: client_host=host.docker.internal client_port=9003
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - '48091:80'
    volumes:
      - './src:/var/www/html'
      - './src/common:/var/www/common'
      - './../uploadfolder:/var/www/html/data'
      - "./conf/php_ext.ini:/usr/local/etc/php/conf.d/php_ext.ini"
      - "./conf/apache_ext.conf:/etc/apache2/conf-enabled/apache_ext.conf"
    depends_on:
      - db

  # 데이터베이스 서버 (새로 추가됨)
  db:
    image: mariadb:10.6
    container_name: board_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root  # connect.php의 비밀번호와 일치
      MYSQL_DATABASE: sys        # connect.php의 DATABASE와 일치
    ports:
      - '33061:3306'             # 내 PC의 3306은 이미 사용 중이므로 33060으로 접속
    volumes:
      - ./db_data:/var/lib/mysql # 데이터 유실 방지를 위해 내 컴퓨터에 저장